# Meson build directory
build/
builddir/
uninstall

# Compiled objects and libraries
*.o
*.so

# Cache files
.cache/

# Editor-specific files
.vscode/
.idea/
*.swp
debug_log.txt
project_dump.txt
target/