/* --- Template for the COMPACT Uptime Widget --- */
@define-color surface @aurora_surface;
@define-color foreground @aurora_fg;
@define-color accent @aurora_accent;
@define-color text-subtle @aurora_color7;

@define-color gnome-bg #28282C;
@define-color gnome-highlight #3E3E41;

/* Apply all visual styles to our container box */
#uptime-widget {
   background-color: @gnome-bg;
    border: 2px solid alpha(@accent, 0.2);
    border-radius: 8px;
    padding: 3px 10px;
    box-shadow: none;
    font-size: 14px;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: normal;
}